.contact-page {
  .contact-info {
    padding: 6rem 0rem;
    .c-top {
      text-align: center;
      margin-bottom: 6rem;
      h2 {
        font-size: 4rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
    .contact-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .c-item {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .icon {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--primary-color);
          color: #fff;
          font-size: 3rem;
          margin-bottom: 2rem;
        }
        h3 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 5rem;
      }
    }
  }
  .contact-form {
    margin-top: 6rem;
    background: var(--bg-secondary);
    padding: 6rem 0rem;

    .c-form {
      display: flex;
      align-items: center;
      .left {
        flex: 1;
        padding-right: 2rem;
        h2 {
          font-size: 4rem;
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 3rem;
        }
        @media screen and (max-width: 900px) {
          padding-right: 0rem;
        }
      }
      .right {
        flex: 1;
        form {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          .f-g {
            width: 100%;
            display: flex;
            gap: 2rem;
            div {
              width: 100%;
              input {
                padding: 2rem;
                width: 100%;
                font-size: 1.6rem;
                outline: none;
                border: none;
              }
            }
          }
          textarea {
            font-size: 1.6rem !important;
            padding: 2rem;
            outline: none;
            border: none;
          }
          button {
            padding: 1.5rem;
            border-radius: 0rem;
            background: var(--primary-color);
            color: #fff;
            font-size: 1.8rem;
          }
        }
      }
      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 5rem;
      }
    }
  }
}
