.footer-top {
  background: var(--primary-color);
  padding: 10rem 0rem;
  .f-top {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    .f-top-i {
      padding: 0rem 2rem;
      color: #fff;
      h3 {
        font-size: 2rem;
        color: #fff;
        margin-bottom: 2rem;
      }
      ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
      }
      &:last-child,
      &:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4rem 0rem;
      .f-top-i:last-child,
      .f-top-i:first-child {
        align-items: flex-start;
      }
    }
  }
}

.footer-bottom {
  background: var(--primary-alt);
  padding: 3rem 0rem;
  .f-bot {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
    .f-right {
      display: flex;
      align-items: center;
      .item {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        &:hover {
          background: var(--primary-color);
        }
      }
    }
  }
}

.f-donate-btn {
  display: flex;
  align-items: center;
  background: #fff;
  gap: 1rem;
  border-radius: 3rem;
  padding-left: 1rem;
  border: 2px solid #fff;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    background: var(--primary-color);
    color: #fff;
    transition: 0.4s ease;
    &:hover .icon {
      background: #fff;
      color: var(--primary-color);
      transition: 0.4s ease;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 2rem;
  }
}
