.goal-wrapper {
  background: var(--bg-secondary);
  margin-top: 10rem;
  .goal {
    padding: 8rem 0rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    .g-left {
      flex: 1;
      border-radius: 15rem;
      overflow: hidden;
    }
    .g-right {
      flex: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
      p {
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 4rem;
      }
      button {
        background: var(--primary-color);
        color: #fff;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
