.nav-wrapper {
  border-bottom: 1px solid #ddd;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    .left {
      display: flex;
      align-items: center;
      gap: 2rem;
      .toggler {
        font-size: 2.5rem;
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        @media screen and (max-width: 768px) {
          position: fixed;
          background: var(--bg-primary);
          flex-direction: column;
          width: 100vw;
          left: 0;
          top: 14rem;
          padding: 2rem;
          transform: translateX(-100%);
          transition: 0.5s ease;
          z-index: 10000 !important;
          &.active-menu {
            transform: translateX(0%);
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}
