.nav-wrapper {
  border-bottom: 1px solid #ddd;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    .left {
      display: flex;
      align-items: center;
      gap: 2rem;
      .toggler {
        font-size: 2.5rem;
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        @media screen and (max-width: 768px) {
          position: fixed;
          background: var(--bg-primary);
          flex-direction: column;
          width: 100vw;
          left: 0;
          top: 14rem;
          padding: 2rem;
          transform: translateX(-100%);
          transition: 0.5s ease;
          z-index: 10000 !important;
          &.active-menu {
            transform: translateX(0%);
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 2rem;
      .donate-btn {
        display: flex;
        align-items: center;
        background: var(--primary-color);
        gap: 1rem;
        border-radius: 3rem;
        padding-left: 1rem;
        border: 2px solid var(--primary-color);
        color: #fff;
        cursor: pointer;
        &:hover {
          background: #fff;
          color: var(--primary-color);
          transition: 0.4s ease;
          &:hover .icon {
            background: var(--primary-color);
            color: #fff;
            transition: 0.4s ease;
          }
        }
        .icon {
          display: flex;
          align-items: center;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          color: var(--primary-color);
          font-size: 2rem;
        }
      }
    }
  }
}
